.Regi2{
    background-color: peachpuff;
  
    margin: auto;
  width: 60%;
  border: 3px solid grey;
  padding: 10px;
  text-align: center;

}
#Regi3{

    margin: auto;
    width: 60%;
   
    padding: 10px;
    text-align: center;
}